.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
android/.idea/codeStyles/Project.xml
android/.idea/gradle.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/vcs.xml
example/android/.idea/caches/build_file_checksums.ser
example/android/.idea/codeStyles/Project.xml
example/android/.idea/encodings.xml
example/android/.idea/gradle.xml
example/android/.idea/misc.xml
example/android/.idea/modules.xml
example/android/.idea/runConfigurations.xml
example/android/.idea/vcs.xml
android/.idea/modules.xml
example/android/.idea/caches/build_file_checksums.ser
example/android/.idea/codeStyles/Project.xml
example/android/.idea/gradle.xml
example/android/.idea/misc.xml
example/android/.idea/modules.xml
android/.idea/modules.xml
example/android/.idea/caches/build_file_checksums.ser
example/android/.idea/codeStyles/Project.xml
example/android/.idea/gradle.xml
example/android/.idea/misc.xml
example/android/.idea/modules.xml
android/.idea/modules.xml
example/android/.idea/caches/build_file_checksums.ser
example/android/.idea/codeStyles/Project.xml
example/android/.idea/gradle.xml
example/android/.idea/misc.xml
example/android/.idea/modules.xml
example/android/*
